body {
    background:skyblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
    color: black;
    background: white;
    padding: 10px;
}
p {
    background:white;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
img {
    display: block;
    margin: 0 auto;
    width: 225px;
    height: 225px;

}