body {
    background: skyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title {
    font-size: 80px;
}
h1 {
    font-family: 'Dosis', sans-serif;
    color: skyblue;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background: white;
}
.header {
    margin: 2% 2% 4% 2%;
}

.nav {
    background-color: white;
    margin-left: 2.2%;
    display: block;
    width: 25%;
    padding: 2%;
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: skyblue;
}

li a:hover {
    background-color:skyblue;
    color: white;
    padding: 3%;
}

.image {
    height: 25px;
    width: 25px;
}